body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
}

.headerLayout {
  border-bottom: 10px solid #000;
}

.localStorageText {
  display: flex;
  justify-content: center;
  p {
    font-family: monospace;
    color: orange;
  }
}
.spaceLSText {
  margin-left: 5px;
}
.hide {
  display: none;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: rgb(49, 47, 47);
  font-style: italic;
}

.present {
  background-color: #ff6961;
  color: black;
  font-style: normal;
  font-weight: bold;
}

.future {
  background-color: #77dd77;
  color: black;
  font-style: normal;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  transition: transform 0.1s;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:active {
  transform: scale(0.95);
}

@media (max-width: 450px) {
  body {
    font-size: 12px;
  }

  #localStorageText {
    flex-direction: column;
    text-align: center;
  }

  .headerLayout {
    padding: 10px !important;
    margin-bottom: 0 !important;
  }

  .hoursLayout {
    margin-left: 0 !important;
    margin-right: 1px !important;

  }

  .hour {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
